html, body, header, h1, h2, h3, nav, ul, li, a, footer, small {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

html, body {
  height: 100%;
  background: #ecf0f1;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: #34495e;

}
a:hover {
  text-decoration: none;
  color: #2980b9;
}

.group:after {
  content: "";
  display: table;
  clear: both;
}

body, button, input, select, textarea {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.5;
}

/* links */
nav {
  width: 100%;
  height: 50px;
  background: #3498db;
  position: fixed;
}

/*  sidebar/header thing  */

#header {
  position: relative;
  z-index: 30;
  top: 0;
  left: 0;
  max-width: 250px;
  height: 100%;
  width: 100%;
  padding: 30px 20px;
  background: #2980b9;
  color: #ecf0f1;
  float: left;
  position: fixed;
}

#pic {
  overflow: hidden;
  border: 4px solid #ecf0f1;
  height: 100px;
  width: 100px;
}

#pic > img {
  display: block;
  width: 100px;
  margin: -18px 0;
}

#header > h1 {
  font-size: 30px;
  width: 80px;
  line-height: 1.25;
  padding-bottom: 10px;
}

.icons {
}

.links > li {
  margin: 5px;
  padding: 5px;
  float: left;
}

.links > li > a {
  color: #ecf0f1;
}

/* body */

#content {
  padding: 60px 20px 40px 350px;
  max-width: 700px;
  width: 100%;
  height: 100%;
  float: left;
  color: #34495e;
}
.project {
  border-bottom: 1px solid #34495e;
}
.project > h2 {
  text-align: center;
  font-size: 36px;
}

.project > h3 {
  text-align: center;
  font-size: 18px;
  padding-bottom: 5px;
}

.paragraph {
  margin: 10px;
  padding-top: 10px;
  width: 100%;
}

.paragraph > p {
  margin: auto;
  width: 600px;
  padding-bottom: 10px;
}

.screenshot {
  overflow: hidden;
  height: 400px;
  width: 600px;
  margin: auto;
  box-shadow: 0 0 5px 2px #575659;
}

#bellyguide {
  display: block;
  width: 105%;
  margin: -5px -15px;
}

#asteroids {
  display: block;
  width: 250%;
  margin: -260px -475px;
}

#snake {
  display: block;
  width: 350%;
  margin: -370px -700px;
}

#chess {
  display: block;
  width: 310%;
  margin: 0 -90px;
}
