html, body, header, h1, h2, h3, nav, ul, li, a, footer, small {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

body {
  font-family: Georgia, serif;
  background: #eee;
  color: #333;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

h2 {
  font-size: 30px;
}

.group:after {
  content: "";
  display: table;
  clear: both;
}

.header {
  background: #f7f7f8;
  border-bottom: 3px solid #eaeaeb;
}

.header-wrap {
  width: 900px;
  margin: auto;
  border-left: 3px solid #eaeaeb;
  border-right: 3px solid #eaeaeb;
}

.header a {
  color: #000;
}

.header-logo {
  float: left;
}

.header-logo {
  display: block;
  padding: 10px 20px;
  color: #000;
  font-weight: bold;
}

.header-logo > a:hover {
  background: #f0f1f2;
}

.header-nav {
  float: right;
}

.header-nav > ul > li {
  position: relative;
  float: left;
  border-left: 3px solid #eaeaeb;
}

.header-nav > ul > li > a {
  display: block;
  padding: 10px 20px;
}

.header-nav > ul > li:hover > a {
  background: #f0f1f2;
}

.page {
  background: white;
  width: 860px;
  padding: 20px;
  margin: auto;
  border-left: 3px solid #ddd;
  border-right: 3px solid #ddd;
}

.sidebar {
  float: left;
}

.img {
  float: left;
  display: inline-block;
  border: 14px solid #ccc;
}

div.about {
  float: right;
  width: 620px;
  padding-bottom: 20px;
}

.content > div > h1 {
  font-size: 30px;
  padding-bottom: 10px;
}

.content > div {
  width: 620px;
  float: right;
}
.about > p {
  float: left;
  margin: 0;
}

div.contact {
  width: 620px;
  float: right;
}

.icons {
  margin: auto;
}

.links > li {
  margin: 5px;
  padding: 5px;
  float: left;
}

.links > li > a {
  color: #333;
}

.container {
  width: 100%;
  overflow-x: scroll;

}
.project-icons {
  width: 500px;
  margin: auto;
}

.project-icons >  li {
  display:block;
  float: left;
  padding:5px 10px;
  width: 150px;
  height: 50px;
}


/* --- Footer --- */

.footer {
  width: 860px;
  padding: 20px;
  margin: auto;
  background: #ddd;
  color: #999;
  border: 3px solid #ccc;
}

.footer a {
  color: #999;
}

.footer a:hover {
  text-decoration: underline;
}

.footer-copy {
  float: left;
}

.footer-links {
  float: right;
}

.footer-links > ul > li {
  float: left;
  padding: 0 0 0 20px;
}

.hide {
  display: none;
}
