.slide-down {
  -webkit-animation: slidedown ease 3s;
  -moz-animation: slidedown ease 3s;
  animation: slidedown ease 3s;
}

.slide-up {
  -webkit-animation: slideup ease 3s;
  -moz-animation: slideup ease 3s;
  animation: slideup ease 3s;
}

.disappear-up {
  animation: disappear-up linear 1s forwards;
}

.disappear-down {
  animation: disappear-down linear 1s forwards;
}

@keyframes disappear-up {
  0% { 
    transform: translateY(0%); 
    opacity: 1;
  }
  100% { 
    transform: translateY(-100%); 
    opacity: 0; 
  }
}

@keyframes disappear-down {
  0% { 
    transform: translateY(0%); 
    opacity: 1;
  }
  100% { 
    transform: translateY(100%); 
    opacity: 0; 
  }
}

@keyframes slideup {
  0% { transform: translateY(100%); }
  50%{ transform: translateY(-8%); }
  80%{ transform: translateY(-4%); }
  100% { transform: translateY(0%); }   
}

@keyframes slidedown {
  0% { -webkit-transform: translateY(-100%); }
  50%{ -webkit-transform: translateY(8%); }
  80%{ -webkit-transform: translateY(4%); }
  100% { -webkit-transform: translateY(0%); } 
}

