html, body {
  height: 100%;
  width: 100%;
}

#home {
  height: 100%;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: space-around;
  justify-content: space-around;
  flex-direction: column;
  -webkit-flex-direction: column;
}

#about, #about-to-home {
  margin-top: 1.5em;
}

#about-icon {
  margin-top: -10px;
}

#info {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.link {
  border: 2px solid transparent;
  display: block;
  padding: 6px 10px 8px 10px;
  font-family: 'Lato';
  font-size: 1.8vw;
  font-weight: 700;
  letter-spacing: 0.1em;
  text-align: center;
}

.link:hover {
  border-color: #f8f8f8;
}

.link-stay {
  border-color: #f8f8f8;
}

#home h1 {
  font-family: "Josefin Sans", sans-serif;
  font-size: 5vw;
}

#home h2 {
  font-family: 'Lato', sans-serif;
  font-size: 2.5vw;
  font-weight: 700;
  letter-spacing: 0.3em;
  margin-top: 10px;
}

.svg-container svg {
  height: 140px;
}

#work, #work-to-home {
  margin-bottom: 1.5em;
}

.white {
  color: #ECEFF1;
}

.blue {
  background-color: #607D8B;
}

.uppercase {
  text-transform: uppercase;
}

.transition {
  transition: all 400ms cubic-bezier(0.25,.46,.45,.94);
}

.hide {
  display: none;
}
