#aboutp1 {
  stroke-dasharray: 50;
  stroke-dashoffset: 50; 
}
#aboutp2 {
  stroke-dasharray: 70;
  stroke-dashoffset: 70; 
}
#aboutp3 {
  stroke-dasharray: 200;
  stroke-dashoffset: 200; 
}
#about-icon path {
  stroke-width: 0.5;
}

#work-icon path {
  stroke-dasharray: 3270.16;
  stroke-dashoffset: 3270.16;
  stroke-width: 6;
}

.svg-container path {
  /* fill: #000; */
  fill: none;
  stroke: #f8f8f8;
}

@media (min-height: 500px) { 
  .animate.on-hover path {
    animation: dash 1s linear forwards;
  }
}

@keyframes dash {
  to { stroke-dashoffset: 0; }
}
