#work-icon path {
  stroke-dasharray: 3270.16;
  stroke-dashoffset: 3270.16;
  stroke-width: 6;
}

.line-drawing path {
  fill: #000;
  /* fill: none; */
  stroke: #f8f8f8;
}

.svg-container:hover path {
  animation: dash 1s linear forwards;
}

@keyframes dash {
  to { stroke-dashoffset: 0; }
}


